<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Volleyball Team" lan="LAN_PLUGIN_VOLLEY_NAME" version="1.0" date="2016-04-14" compatibility="2.0" installRequired="true" >
	<author name="kreos" url="www.serverkreos.com" />
	<summary lan="">Volleyball team</summary>
	<description lan="">volleyball team and staff</description>
	<keywords>
		<word>volleyteam</word>
		<word>volleyball</word>
	</keywords>
	<category>misc</category>
	<copyright></copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >PLAYERS</link>
	</adminLinks>
	
</e107Plugin>
